*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {

    text-decoration: none; /* 去除下划线 */
    color: rgb(209, 206, 206); 

    cursor: pointer; /* 保持点击时的手型 */



}
a:hover {
    color: rgb(249, 242, 242); /* 当鼠标悬停时，改变链接颜色 */
}
.logo a {
    color: #00b38a;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;

}
ul {
    list-style-type: none; /* 去除小圆点 */
    padding: 0;
    margin: 0;
}


img {
    display: block; /* 避免图片作为行内元素的默认处理方式 */
    max-width: 100%; /* 确保图片不会超出容器 */
    height: auto; /* 保持图片的比例 */
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.advertising{

    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.header{
    padding: 0 180px;
    background-color: #32373e;;
    height: 40px;
    display: flex;
    line-height: 40px;

    /* position: relative;
    float: left; */
}

.links{
    float: left;
    margin: 0 20px;
}
.login{
    margin-left: auto; 
}


.search{
    background: #f2f5f4;
    display: flex;
    flex-direction: column;
    /* height: 110px; */
    /* line-height: 110px; */
    align-items: center; /* 垂直居中 */


}
.search-bar {
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    height: auto; /* 自动适应内容 */
    margin-top: 20px;
}

.search_input {
    width: 762px;
    height: 46px;
    line-height: 46px;
    float: left;
    font-size: 16px;
    padding: 0 16px 0 16px;
    margin: 0;
    border: 1px solid #e8e8e8;
    border-right: none;
    margin-right: 2px;
}
.search_button{
    /* float: left; */
    width: 142px;
    height: 46px;
    font-size: 18px;
    color: #fff;
    border: none;
    background: #00b38a;
    cursor: pointer;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */

}


.hotSearch-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    padding-left: 20px; /* 增加热门搜索的左边距 */
    align-items: center; /* 垂直居中 */
    margin-bottom: 20px;
}

.hotSearch {
    display: flex; /* 让dl的子元素横向排列 */
    align-items: center; /* 垂直居中 */
}
.hotSearch dt {
    font-weight: bold;
    margin-right: 10px;
    color: #333;
}

.hotSearch dd {
    margin-right: 15px;
}

.hotSearch a {
    color: #00b38a;
}

.hotSearch a:hover {
    color: black; /* 悬停时字体颜色变为黑色 */
}





.main{
    height: 100vh;
    margin: 40px auto 0;
    width: 1200px;
    display: flex;
}
.job-category{

    float: left;
    position: relative;
    width: 452px;
}

.main-navs{
    margin:  28px;
    margin-top: 0px;
}
.main-navs h2 {
    display: inline-block;
    padding-left: 15px;
    margin: 0;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    color: #333333;
}

.home-banner{
    margin-right: 0;
}
.main-navs i.arrow {
    position: absolute;
    right: 0;
    top: 23px;
    width: 6px;
    height: 11px;
    margin-right: 8px;
    background: url(https://lagou-zhaopin-fe.lagou.com/fed/lg-www-node/icons/arrow%402x.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.positionListWapper{
    display: flex;
    flex-direction: column;
}

.design-navs{
    display: flex;

}
.hot{
    margin: 0 20px 0 20px;
}